---
import type { CollectionEntry } from 'astro:content';
interface Props {
	project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const data = project.data;

const startDate = String(data.dates.start).slice(0, 4);
const endDate = String(data.dates.end).slice(0, 4);
let date;

// Format date string
if (data.dates.end) {
	date = startDate === endDate ? startDate : startDate + " - " + endDate;
} else {
	date = startDate + " - Present";
}
---

<div class="flex-col">
	<h2>{data.title}</h2>
	{
		data.media.isVideo === false
		? <img src={data.media.url} alt={data.media.alt} />
		// @ts-expect-error
		: <video autoplay loop muted> <source src={data.media.url} alt={data.media.alt}/> Your browser does not support the video tag. </video>
	}
	<div class="flex-row center project-details">
		<div class="flex-row">
			{data.icons.map((icon: string) => <i class={icon} />)}
		</div>
		<p>{date}</p>
	</div>
	<p set:html={data.description}></p>
	{
		data.links && (
			<div class="flex-row center">
				{data.links?.map((link) => (
					<a
						class="button flex-row center"
						style="margin: 5px 5px 0 5px; flex-grow: 1;"
						href={link.url}
						target={link.newTab ? "_blank" : "_self"}
						rel="noopener noreferrer"
					>
						{link.icon && <i class={link.icon} />}
						{link.name ? link.name : link.url}
					</a>
				))}
			</div>
		)
	}
</div>
