---
import { Icon } from "astro-icon";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
	project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const data = project.data;
---

<BaseLayout pageTitle={data.title}>
	<h1 class="main-header"><strong>{data.title}</strong></h1>
	<div class="flex-col center">
		{
			data.media.isVideo === false
			? <img src={data.media.url} alt={data.media.alt} />
			// @ts-expect-error
			: <video autoplay loop muted> <source src={data.media.url} alt={data.media.alt}/> Your browser does not support the video tag. </video>
		}
		<p><em>{data.description}</em></p>
		<p>{data.dates.start + " " + data.dates.end}</p>
		<div>
			{data.icons.map((icon: string) => <Icon name={icon} height="1em" width="1em" />)}
		</div>

		<div style="margin: 5em; color:white;">
			<slot />
		</div>
	</div>
</BaseLayout>
